# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.tmp
*.swp
